{% from "_formhelpers.html" import render_field %}

{% macro dealer_form(action, form) %}
<form action="{{ action }}" method="POST">
    {{ render_field(form.name) }}
    {{ render_field(form.phone_number) }}
    {{ render_field(form.address) }}
    <input type="submit">
</form>
{% endmacro %}

{% macro element_form(action, form) %}
<form action="{{ action }}" method="POST">
    {{ render_field(form.name) }}
    {{ render_field(form.description) }}
    <input type="submit">
</form>
{% endmacro %}
