{% macro render_element(element) %}
    {{ '%.2f' % (element.percent * 100) }}%
    {% if element.measurement_unit == 'm' %}
    masy
    {% else %}
    objętości
    {% endif %}
{% endmacro %}

{% macro render_product(product) %}
    <h3>{{ product.name }}</h3>
    <p>
    {{ product.description }}
    </p>
    <p>
    Cena: {{ '%.2f' % (product.price/100) }} zł.<br />
    Dostępnych jednostek: {{ product.units_available }}<br />
    {% if product.mass %}
    Masa jednostkowa: {{ product.mass }} mg.<br />
    {% endif %}

    {% if product.volume %}
    Objętość jednostkowa: {{ product.volume }} cm^3.<br />
    {% endif %}

    {% if product.elements %}
    <h4>Wartość kolekcjonerska</h4>
    <ul>
    {% for element in product.elements %}
    <li>{{ element.name }} ({{ element.description }}) -
    {{ render_element(element) }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if session.login and not session.admin %}
        <a href="#" class="cart-add-link" data-key="{{ product.product_id }}"
           data-name="{{ product.name }}"
           data-price="{{ product.price }}">
        Dodaj do koszyka</a>
    {% endif %}
{% endmacro %}
