{% extends "layout.html" %}

{% block title %}Zamówienia{% endblock %}

{% block content %}
<a href="#" id="show-all">Pokaż wszystkie</a>
<a href="#" id="show-completed">Pokaż zrealizowane</a>
<a href="#" id="show-waiting">Pokaż oczekujące</a>
{% for order in orders.values() %}
<div class="{% if order.order.completed %}completed{% endif %} order">
    <p><strong>{{ order.order.client_name }} {{ order.order.client_surname }} ({{ order.order.client_login }})</strong></p>
    <p>Data złożenia: {{ order.order.order_date.strftime("%d.%m.%Y %H:%M") }}</p>
    <p>Adres wysyłki:
        {% if order.order.shipping_address %}
            {{ order.order.shipping_address }}
        {% else %}
        <i>{{ order.order.client_address }}</i>
        {% endif %}
    </p>

    Produkty:
    <ul>
    {% for item in order['items'] %}
    <li>{{ item.name }} ({{ item.quantity }} szt.) - {{ '%.2f zł' % (item.price * item.quantity / 100) }}</li>
    {% endfor %}
    </ul>

    Status: {% if order.order.completed %}zrealizowane{% else %}w trakcie realizacji
    (<a href="/admin/orders/complete/{{ order.order.order_id }}">zrealizuj</a>)
    (<a href="/admin/orders/delete/{{ order.order.order_id }}">odrzuć</a>)
    {% endif %}.
</div>
<hr>
{% endfor %}

<script>
$(document).ready(function() {
    $('#show-all').on('click', function() {
        $('.order').show();
    });

    $('#show-completed').on('click', function() {
        $('.order').hide();
        $('.order.completed').show();
    });

    $('#show-waiting').on('click', function() {
        $('.order').show();
        $('.order.completed').hide();
    });
});
</script>
{% endblock %}

