{% extends "layout.html" %}

{% block title %}Panel administracyjny{% endblock %}

{% block content %}
<ul>
    <li><a href="/admin/clients">Zarządzanie klientami</a></li>
    <li><a href="/admin/orders">Zarządzanie zamówieniami</a></li>
    <li><a href="/admin/dealers">Zarządzanie dostawcami</a></li>
    <li><a href="/admin/elements">Zarządzanie wartościami kolekcjonerskimi</a></li>
    <li><a href="/admin/products">Zarządzanie produktami</a></li>
</ul>
{% endblock %}

