{% extends "layout.html" %}

{% block title %}Zarządzanie uzytkownikami{% endblock %}

{% block content %}

{% for client in clients %}
<div>
    <h3>{{ client.name }} {{ client.surname }} ({{ client.login }})</h3>
    <a href="/admin/clients/delete/{{ client.client_id }}">Usuń użytkownika {{ client.login }}</a>
    <ul>
        <li>Email: {{ client.email }}</li>
        {% if client.phone_number %}<li>Telefon: {{ client.phone_number }}</li>{% endif %}
        <li>Adres: {{ client.address }}</li>
    </ul>
</div>
<hr>
{% endfor %}
{% endblock %}

