{% extends "layout.html" %}
{% from "_helpers.html" import render_element %}

{% block title %}Produkty{% endblock %}

{% block content %}
<a href="/admin/products/new">Dodaj produkt</a>
{% for product in products %}
    <h3>{{ product.name }}</h3>
    <a href="/admin/products/edit/{{ product.product_id }}">Edytuj</a> |
    <a href="/admin/products/delete/{{ product.product_id }}">Usuń</a>
    <p>
    {{ product.description }}
    </p>
    <p>
    Cena w sklepie: {{ '%.2f' % (product.price/100) }} zł.<br />
    Cena hurtowa: {{ '%.2f' % (product.dealer_price/100) }} zł.<br />
    Dostępnych jednostek: {{ product.units_available }}<br />
    {% if product.mass %}
    Masa jednostkowa: {{ product.mass }} mg.<br />
    {% endif %}

    {% if product.volume %}
    Objętość jednostkowa: {{ product.volume }} cm^3.<br />
    {% endif %}

    {% if product.elements %}
    <h4>Wartość kolekcjonerska</h4>
    <ul>
    {% for element in product.elements %}
    <li>{{ element.name }} ({{ element.description }}) -
    {{ render_element(element) }}
    (<a href="/admin/product-element/delete/{{ element.element_id }}/{{ element.product_id }}">Usuń</a> |
     <a href="/admin/product-element/edit/{{ element.element_id }}/{{ element.product_id }}">Edytuj</a>)
    </li>
    {% endfor %}
    </ul>
    {% endif %}
    <a href="/admin/product-element/new/{{ product.product_id }}">Dodaj wartość kolekcjonerską</a>
    <p>Dostawca: <a href="/admin/dealers#dealer-{{ product.dealer_id }}">{{ product.dealer_name }}</a></p>

    <hr>
{% endfor %}
{% endblock %}

