{% extends "layout.html" %}

{% block title %}Zarządzanie wartościami kolekcjonerskimi{% endblock %}

{% block content %}

<a href="/admin/elements/new">Dodaj wartość kolekcjonerską</a>
{% for element in elements %}
<div>
    <h3>{{ element.name }}</h3>
    <a href="/admin/elements/edit/{{ element.element_id }}">
        Edytuj wartość kolekcjonerską {{ element.name }}.</a><br>
    <a href="/admin/elements/delete/{{ element.element_id }}">
        Usuń wartość kolekcjonerską {{ element.name }}.</a>
    <p>Opis: {{ element.description }}</p>
</div>
<hr>
{% endfor %}
{% endblock %}
