{% extends "layout.html" %}

{% block title %}Zarządzanie dostawcami{% endblock %}

{% block content %}

<a href="/admin/dealers/new">Dodaj dostawcę</a>
{% for dealer in dealers %}
<div id="dealer-{{ dealer.dealer_id }}">
    <h3>{{ dealer.name }}</h3>
    <a href="/admin/dealers/edit/{{ dealer.dealer_id }}">Edytuj dostawcę {{ dealer.name }}.</a><br>
    <a href="/admin/dealers/delete/{{ dealer.dealer_id }}">Usuń dostawcę {{ dealer.name }}.</a>
    <ul>
        <li>Telefon: {{ dealer.phone_number }}</li>
        <li>Adres: {{ dealer.address }}</li>
    </ul>
</div>
<hr>
{% endfor %}
{% endblock %}
