{% extends "layout.html" %}

{% block title %}Wartości kolekcjonerskie{% endblock %}

{% block content %}
<ul>
{% for element in elements %}
    <li><a href="/elements/{{ element.element_id }}">
        {{ element.name }} ({{ element.description }})</a></li>
{% endfor %}
</ul>
{% endblock %}

