<!doctype html5>
<html>
    <head>
    <title>{% block title %}Coffee shop{% endblock %}</title>
    <script src="/static/jquery-2.1.1.js"></script>
    <script src="/static/jquery.cookie.js"></script>
    <script src="/static/react-with-addons.js"></script>
    <script src="/static/JSXTransformer.js"></script>

    {% if session.login %}
    <script src="/static/cart.js" type="text/jsx"></script>
    <script>
        window.login = "{{ session.login }}";
        {% if session.admin %}
        window.hide_cart = true;
        {% else %}
        window.hide_cart = false;
        {% endif %}
    </script>
    {% endif %}

    <style>
        body {
            font-family: Helvetica, Tahoma, Verdana;
            font-size: 14px;
            background-color: #afa;
            padding: 0px;
        }

        div#content {
            width: 960px;
            margin: 0px auto;
            background-color: #fff;
            padding: 20px;
        }

        ul#menu {
            list-style-type: none;
            text-align: center;
        }

        ul#menu li {
            display: inline;
            margin-right: 15px;
        }

        h1 {
            text-align: center;
        }

        a {
            text-decoration: none;
            color: blue;
        }

        a:hover {
            text-decoration: underline;
        }

        a:visited {
            color: blue;
        }

        a.header {
            color: black;
        }

    </style>
    </head>

    <body>
        <div id="content">
            <h1><a href="/" class="header">Coffee shop!</a></h1>
            <div id="cart"></div>
            <ul id="menu">
                {% if session.login %}
                <li><a href="/logout">Wyloguj</a></li>
                    {% if session.admin %}
                    <li><a href="/admin">Panel administracyjny</a></li>
                    {% else %}
                    <li><a href="/profile">Profil</a></li>
                    <li><a href="/orders">Zamówienia</a></li>
                    {% endif %}
                {% else %}
                <li><a href="/login">Zaloguj</a></li>
                <li><a href="/register">Rejestruj</a></li>
                {% endif %}
                <li><a href="/elements">Wartości kolekcjonerskie</a></li>
            </ul>

            {% with msgs = get_flashed_messages() %}
                {% if msgs %}
                    <ul>
                    {% for msg in msgs %}
                        <li>{{ msg }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <h2>{{ self.title() }}</h2>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>

