{% extends "layout.html" %}

{% block title %}Logowanie{% endblock %}

{% block content %}

<form action="/login" method="POST">
    Login: <input type="text" name="login"><br>
    Hasło: <input type="password" name="password">
    <input type="submit">
</form>

{% endblock %}
