{% extends "layout.html" %}

{% block title %}Składanie zamówienia{% endblock %}

{% block content %}
Jeżeli chcesz ustawić adres wysyłki na inny niż podany w profilu, wypełnij poniższe pole:
<form action="/order/save" method="POST">
    <input type="hidden" name="payload" value="{{ payload }}" class="payload" />
    <input type="text" name="address" />
    <input type="submit" value="Złóż zamówienie" />
</form>

<script>
    window.hideCartSubmit = true;
</script>
{% endblock %}

