{% extends "layout.html" %}

{% block title %}Zamówienia{% endblock %}

{% block content %}
{% for order in orders.values() %}
<div>
    <p>Data złożenia: {{ order.order.order_date.strftime("%d.%m.%Y %H:%M") }}</p>
    <p>Adres wysyłki:
        {% if order.order.shipping_address %}
            {{ order.order.shipping_address }}
        {% else %}
            <i>Jak ustawiono w profilu</i>
        {% endif %}
    </p>

    Produkty:
    <ul>
    {% for item in order['items'] %}
    <li>{{ item.name }} ({{ item.quantity }} szt.) - {{ '%.2f zł' % (item.price * item.quantity / 100)}}</li>
    {% endfor %}
    </ul>

    Status: {% if order.order.completed %}zrealizowane{% else %}w trakcie realizacji{% endif %}.
</div>
<hr>
{% endfor %}
{% endblock %}

